@charset "UTF-8";

/*=Typography=*/

* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

html {
    position: relative;
}

img {
    max-width: 100%;
}

body {
    color: #444;
    font-family: 'Roboto', sans-serif, 微軟正黑體;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin-top: 0;
}

h1 {
    font-weight: 700;
}

h2 {
    margin-bottom: 35px;
}

p {
    line-height: 1.5;
}

a,
a:hover,
a:focus,
a:active {
    color: #00a2d4;
    text-decoration: underline;
}


/*=Containers=*/

.container-fluid {
    padding: 0 16px;
}

.container {
    margin: 0 auto;
    max-width: 996px;
}


/*=Navigation=*/

@keyframes show-header {
    0% {
        top: -64px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

nav {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
    position: relative;
    top: 0;
}

nav a,
nav a:hover,
nav a:focus,
nav a:active,
nav a:visited {
    text-decoration: none;
}

nav .brand {
    display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: 900;
}

nav .brand a {
    display: block;
    padding: 23px 0;
}

nav .nav-toggle {
    color: #444;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 20px;
    padding: 24px 0;
    z-index: 9;
}

nav ul {
    border-top: 1px solid #ccc;
    clear: both;
    list-style: none;
    margin: 0 -16px;
    padding: 0;
    z-index: 9;
}

nav ul li {
    border-bottom: 1px solid #ccc;
    text-align: center;
}

nav ul li a {
    color: #444;
    display: block;
    padding: 12px;
}

nav.sticky {
    animation: show-header .5s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}


/*=Sections=*/

.splash {
    background: url("../images/background.png") no-repeat fixed center;
    /*background: linear-gradient(135deg, rgba(85, 239, 203, 1) 0%, rgba(30, 87, 153, 1) 0%, rgba(85, 239, 203, 1) 0%, rgba(91, 202, 255, 1) 100%);*/
    background-size: cover;
}

.splash .container {
    padding-top: 5vh;
    /* No JS fallback*/
    padding-bottom: 25vh;
    /* No JS fallback*/
}

.book-image {
    display: block;
    max-width: 300px;
    margin: 10px auto 16px;
    width: 100%;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.splash h1 {
    font-size: 30px;
    margin-bottom: 2.5px;
    text-align: center;
    color: #fff;
}

.splash div {
    text-align: center;
}

.splash a {
    text-decoration: none;
    margin-top: 20px;
}

@-webkit-keyframes sheen {
    0% {
        -webkit-transform: skewY(-45deg) translateX(0);
        transform: skewY(-45deg) translateX(0);
    }
    100% {
        -webkit-transform: skewY(-45deg) translateX(12.5em);
        transform: skewY(-45deg) translateX(12.5em);
    }
}

@keyframes sheen {
    0% {
        -webkit-transform: skewY(-45deg) translateX(0);
        transform: skewY(-45deg) translateX(0);
    }
    100% {
        -webkit-transform: skewY(-45deg) translateX(12.5em);
        transform: skewY(-45deg) translateX(12.5em);
    }
}

.wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button,
.button:focus {
    padding: 12px 36px;
    text-align: center;
    text-decoration: none;
    color: #f5c72d;
    border: 2px solid #f5c72d;
    font-size: 24px;
    display: inline-block;
    border-radius: 0.3em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    animation-iteration-count: 2;
}

.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    -webkit-transform: skewX(-45deg) translateX(0);
    transform: skewX(-45deg) translateX(0);
    -webkit-transition: none;
    transition: none;
}

.button:hover,
.button:active {
    background-color: #f5c72d;
    color: #1d1b1e;
    font-weight: 800;
    cursor: pointer;
}

.button:hover:before {
    -webkit-transform: skewX(-45deg) translateX(13.5em);
    transform: skewX(-45deg) translateX(13.5em);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.splash .lead,
.splash .continue {
    display: block;
    text-align: center;
}

.splash .lead {
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
    color: #e0ddca;
}

.splash .continue {
    font-size: 50px;
    line-height: 0;
}

.splash .continue a {
    border: 4px solid #fff;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    width: 58px;
}

.splash .continue a:hover {
    background-color: rgba(255, 255, 255, .25);
}

#summary .container,
#details .container,
#agenda .container,
#buy .container,
#contact .container {
    padding: 80px 0;
}

#summary,
#details,
#agenda,
#buy,
#contact {
    text-align: center;
}


/*=Summary=*/

#summary {
    background-color: #fcedd8;
}

#summary p {
    text-align: left;
}


/*=Details=*/


/*#details {
    background-color: #00a2d4;
    color: #fff;
}*/

#details {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/stardust.png");
    color: #fff;
}

#details li {
    padding-bottom: 10px;
    text-align: left;
}

#details li b {
    font-weight: 500;
    color: #00a2d4;
}


/*=Agenda=*/

#agenda {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalwhite.png");
}

.hexa {
    border: 0px;
    float: left;
    text-align: center;
    height: 35px;
    width: 60px;
    font-size: 22px;
    background: #f0f0f0;
    color: #3c3c3c;
    position: relative;
    margin-top: 15px;
}

.hexa:before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -15px;
}

.hexa:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #f0f0f0;
    bottom: -15px;
}

.timeline {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
    line-height: 25px;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: rgb(213, 213, 213);
    background: -moz-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -o-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: -ms-linear-gradient(top, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
    background: linear-gradient(to bottom, rgba(213, 213, 213, 0) 0%, rgb(213, 213, 213) 8%, rgb(213, 213, 213) 92%, rgba(213, 213, 213, 0) 100%);
}

.timeline li {
    padding: 1.2em 0;
}

.timeline .hexa {
    width: 16px;
    height: 10px;
    position: absolute;
    background: #00c4f3;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -30px;
    margin-top: 0;
}

.timeline .hexa:before {
    border-bottom: 4px solid #00c4f3;
    border-left-width: 8px;
    border-right-width: 8px;
    top: -4px;
}

.timeline .hexa:after {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 4px solid #00c4f3;
    bottom: -4px;
}

.timeline .hexa-2 {
    background: #f5c72d;
}

.timeline .hexa-2:before {
    border-bottom: 4px solid #f5c72d;
}

.timeline .hexa-2:after {
    border-top: 4px solid #f5c72d;
}

.direction-r {
    float: none;
    width: 100%;
    text-align: center;
}

.flag-wrapper {
    text-align: center;
    position: relative;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(255, 255, 255);
    font-weight: 600;
    padding: 6px 10px;
    text-align: left;
    border-radius: 5px;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    line-height: 1em;
    vertical-align: middle;
    color: #fff;
}

.direction-r .time-wrapper {
    float: none;
}

.time {
    background: #00c4f3;
    display: inline-block;
    padding: 8px;
}

.time-2 {
    background: #f5c72d;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(254, 254, 254);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
}

.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
}

@media(min-width: 768px) {
    .timeline {
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .timeline li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .timeline .hexa {
        left: -28px;
        right: auto;
        top: 8px;
    }
    .timeline:before {
        margin-left: -291px;
    }
    .direction-r {
        position: relative;
        width: 600px;
        float: right;
        text-align: left;
    }
    .flag-wrapper {
        display: inline-block;
    }
    .flag {
        font-size: 18px;
    }
    .direction-r .flag:after {
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: rgb(254, 254, 254);
        border-width: 8px;
        left: -8px;
    }
    .time-wrapper {
        display: inline;
        vertical-align: middle;
        margin: 0;
    }
    .direction-r .time-wrapper {
        float: right;
    }
    .time {
        padding: 5px 10px;
    }
    .direction-r .desc {
        margin: 1em 0 0 0.75em;
    }
}

@media(min-width: 992px) {
    .timeline {
        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .timeline:before {
        margin-left: -341px;
    }
    .direction-r {
        position: relative;
        width: 720px;
        float: right;
        text-align: left;
    }
}


/*=buy=*/

#buy h2 {
    margin-bottom: 5px;
    color: #fff;
}

#buy h3 {
    color: #222222;
    font-size: 20px;
}

#buy p {
    margin-bottom: 35px;
    color: #e0ddca;
}

#buy .panel p {
    margin-bottom: 0px;
    color: #454246;
}

#buy b {
    color: #E04B4B;
}

#buy {
    background: url("../images/background.png") no-repeat fixed center;
    /*background: linear-gradient(135deg, rgba(85, 239, 203, 1) 0%, rgba(30, 87, 153, 1) 0%, rgba(85, 239, 203, 1) 0%, rgba(91, 202, 255, 1) 100%);*/
    background-size: cover;
}

#buy .button {
    font-size: 16px;
    padding: 10px 26px;
}

.btn-success,
.btn-success:visited {
    background-color: #00a2d4;
    border: solid 1px #00a2d4;
}

.btn-success:hover {
    background-color: #0083ab;
}

.note {
    color: #ff5470;
}


/*=Contact=*/


/*=Footer=*/

.footer {
    background-color: #2C3E50;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.footer .container {
    padding: 20px 0 6px;
}

.footer p {
    padding-top: 5px;
}


/* ========================
Media Queries
======================== */

@media (min-width: 768px) {
    nav .nav-toggle {
        display: none;
    }
    nav ul {
        border: none;
        clear: none;
        display: inline-block !important;
        float: right;
        margin: 0;
        padding: 25px 0;
    }
    nav ul li {
        border: none;
        display: inline-block;
        float: left;
        margin-right: 24px;
    }
    nav ul li:last-of-type {
        margin-right: 0;
    }
    nav ul li a {
        padding: 0;
    }
    .splash h1 {
        font-size: 45px;
    }
    .splash .lead {
        font-size: 22px;
        margin-top: 20px;
    }
    .splash .col-6 {
        float: left;
        margin: 2em 5% 0 0;
        padding: 0 1em;
        width: 40%;
    }
    .splash .title {
        margin-top: 60px;
    }
    .splash .continue {
        padding-top: 60px;
    }
    .book-image {
        max-width: 450px;
        margin: 70px auto 16px;
    }
    #details li {
        margin: 0 160px;
    }
}
